<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>543642531876-fvpn8sep1jk6sg7db8puninh2d6eo932.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543642531876-fvpn8sep1jk6sg7db8puninh2d6eo932</string>
	<key>API_KEY</key>
	<string>AIzaSyDkV63b6Af92wDF3BxVAI70A03A4nbpApM</string>
	<key>GCM_SENDER_ID</key>
	<string>543642531876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JinTonic.KoreaLover</string>
	<key>PROJECT_ID</key>
	<string>korealover-6810f</string>
	<key>STORAGE_BUCKET</key>
	<string>korealover-6810f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543642531876:ios:2e142a0a6ca90a6f</string>
	<key>DATABASE_URL</key>
	<string>https://korealover-6810f.firebaseio.com</string>
</dict>
</plist>